<main class="main">
  <div class="container">

    <div class="searchContainer">
      <h1 class="title">Busca por Repositórios</h1>
      <form (submit)="getRepos()">
        <mat-form-field>
          <mat-label>Busca</mat-label>
          <input matInput [(ngModel)]="reposParams" name="reposParams">

          <button mat-icon-button matSuffix type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <mat-list>
        @for (item of reposResponse; track item) {
        <mat-list-item>
          Name: {{ item.full_name }}
        </mat-list-item>
        <mat-list-item>
          Stars Count: {{ item.stargazers_count }}
        </mat-list-item>
        <mat-list-item>
          Homepage: {{ item.homepage }}
        </mat-list-item>
        <mat-list-item>
          License: {{ item.license?.name }}
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>



      <!-- <input type="text"  required> -->
      <!-- <ul>
        <li *ngFor="let item of reposResponse">
          Name: {{ item.full_name }}
          <br />
          Stars: {{ item.stargazers_count }}
          <br />
          Homepage: {{ item.homepage }}
          <br />
          License: {{ item.license?.name }}
          <br />
          <br />
        </li>
      </ul> -->
    </div>

    <!-- <div>
      <form (submit)="getUsers()">
        <label>Busca Usuários</label>
        <input type="text" [(ngModel)]="usersParams" name="usersParams" required>
        <button type="submit">Buscar</button>
      </form>

      <ul>
        <li *ngFor="let item of usersResponse">
          User Login: {{ item.login }}
          <br />
          User Url: {{ item.url }}
          <br />
        </li>
      </ul>
    </div> -->
  </div>
</main>


<router-outlet />