<main class="main">

  <app-repository-search></app-repository-search>

  <div class="container">
    <div class="searchContainer">
      <h1 class="title">Busca por Issues</h1>
      <div class="formContainer">
        <form (submit)="getIssues()" class="formItem">
          <mat-form-field>
            <mat-label>Busca</mat-label>
            <input matInput [(ngModel)]="issuesParams" name="issuesParams">

            <button mat-icon-button matSuffix type="submit">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </form>

        @if(options.length > 0) {
        <mat-form-field class="formItem">
          <mat-label>Estados</mat-label>
          <mat-select>
            <mat-option (click)="selectState('Limpar')">Limpar</mat-option>
            @for (itemSel of options; track itemSel) {
            <mat-option [value]="itemSel" (click)="selectState(itemSel)">{{ itemSel }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        }

        <!-- @if(options.length > 0) {
        <mat-chip-set class="formItem">
          <mat-chip>Stars Count: {{ starsCount }}</mat-chip>
        </mat-chip-set>
        } -->
      </div>

      <mat-list>
        @for (item of issuesResponse ; track item) {
        <mat-list-item>
          Creator: {{ item.user.login }}
        </mat-list-item>
        <mat-list-item>
          Stars Count: {{ item.created_at | date : 'dd/MM/yyyy HH:mm' }}
        </mat-list-item>
        @if(item.closed_at) {
        <mat-list-item>
          Stars Count: {{ item.closed_at | date : 'dd/MM/yyyy HH:mm' }}
        </mat-list-item>
        }
        <mat-divider></mat-divider>
        }
      </mat-list>
    </div>
  </div>

  <app-repository-search-topics></app-repository-search-topics>
</main>


<router-outlet />